node_modules/
dist/
dist-ssr/

# Vercel
.vercel/

# Local env files
.env
.env.*
!.env.example

# Logs
logs
*.log
npm-debug.log*
yarn-debug.log*
yarn-error.log*
pnpm-debug.log*
lerna-debug.log*

# OS / Editor
.DS_Store
.idea/
.vscode/
*.suo
*.ntvs*
*.njsproj
*.sln
*.sw?

# Vite timestamp logs
vite.config.js.timestamp-*
vite.config.ts.timestamp-*
